<div>
    {% extends "AppCoder/meetups.html" %}
    {% load static %}
    
    {% block getmeetups %}
        <p>Consultar Meetups</p>
        <form action="/AppCoder/buscarmeetups/" method="GET">
            <input placeholder="Titulo" type="text" name="titulo" id="titulo">
            <input type="submit" value="Buscar" class="btn btn-primary">
        </form>

        {% if meetups %}
            {% for meetup in meetups %}
                <li> {{meetup.titulo}} </li>
                <li> {{meetup.contenido}} </li>
                <li> {{meetup.fecha_publicacion}} </li>
            {% endfor %}
        {% endif %}
    {% endblock %}    
</div>